<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS Files -->
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/mine.css">
        <link rel="stylesheet" href="css/slides.css">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>


        </header>

        <div class="row">
            <div class="small-12 column tippytop boxme">
                <h1> Hungry Hungry Texans :: A Food Blog </h1>
                
            </div>

            <div class="small-12 column slideshow boxme">
                <h2> This is my foodblog </h2>
                <div id="slides">
                    <img src="img/cabobobs.jpg" alt="">
                    <img src="img/tacodeli.jpg" alt="">
                    <img src="img/Torchysqueso.jpg" alt="">
                    
                </div>
            </div>

            <div class="small-12 column toc boxme">
                <div class="small-4 column tocbutton boxme">
                    <h2><a>Button1 - Home</a></h2>
                </div>
                <div class="small-4 column tocbutton boxme">
                    <h2><a>Button2 - Food</a></h2>
                </div>
                <div class="small-4 column tocbutton boxme">
                    <h2><a href="about.html">Button3 - About</a></h2>
                </div>
            </div>

            <div class="small-12 column content boxme">
                <h2>I'm at the bottom</h2>
                <p>I have all the blog content in me!</p>
                {{content}}
 

            </div>                      

        </div>





         <!-- JavaScripts -->

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        <!-- Foundation JS -->
        <script src="/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

        <!-- Slides.js -->
        <!-- TODO link to the slides.min.js file -->
        <script src="js/jquery.slides.js"></script>

        <!-- TODO write the .slidesjs() code to make the slideshow work -->
         <script>
        $(function(){
        $("#slides").slidesjs({
          
            });
        });
        </script>


    </body>
</html>